body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; 
  margin: 0;
}
.face{
  position:relative;
  width:180px;
  height:180px;
  background-color:#0099e6;
  border-radius: 50%;
  margin:auto;
  animation-name: faceAnimation;
  animation-duration: 0.3s;
  animation-direction: alternate-reverse; 
  animation-iteration-count: infinite;
}
.face-contents{
  position:relative;
  animation-name: faceAnimation2;
  animation-duration: 0.4s;
  animation-direction:alternate; 
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  top:28%;
}

.eyes{
   position:absolute;
    left:3%;
}

.eye{
  position:relative;
  width:50px;
  height:50px;
  background-color:white;
  border-radius: 50%;
  margin-right:10px;
  float:left;
  
 
}
.pupil{
  width:34px;
  height:34px;
  background-color:#00004d;
  border-radius: 50%;
  margin :5px 10px 3px 3px;
}

.mouth{
  width:35px;
  height:10px;
  margin-top:43%;
  margin-left:31%;
  background-color:transparent;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; 
  border: 4px solid #00004d;
  border-top: none;
   
}

@keyframes faceAnimation {
  from{top:0px;}
  to {top:5px;}
}
@keyframes faceAnimation2 {
  from{top:28%;}
  to {top:37%;}
}













